body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.car-detail-list {
    list-style: none;
    padding-left: 20px;
}

.car-detail-h3 {
    padding-left: 20px
}
